[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = '3.8'

[scripts]
one = "python3 abc.py -c 1"

[packages]
coverage = "==5.4"
pytest = "==6.2.2"
fastapi = "==0.63.0"
requests = "==2.25.1"
